<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <ul>
            <li>西游记，价格：{{xyjPrice}} 数量：<input v-model="xyjNum" type="number" /></li>
            <li>水浒传，价格：{{shzPrice}} 数量：<input v-model="shzNum" type="number" /></li>
            <li>总价：{{totalPrice}}</li>
            {{msg}}
        </ul>
    </div>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script>
        let vm = new Vue({
            el: "#app",
            data: {
                xyjPrice: 99.5,
                shzPrice: 87.8,
                xyjNum: 1,
                shzNum: 1,
                msg: ""
            },
            computed: {
                totalPrice() {
                    return this.xyjPrice * this.xyjNum + this.shzPrice * this.shzNum;
                }
            },
            watch: {
                xyjNum: function (newVal, oldValue) {
                    // alert("newValue:" + newVal + "----oldValue:" + oldValue);
                    if (newVal >= 3) {
                        this.xyjNum = 3;
                        this.msg = "库存不足";
                    } else {
                        this.msg = "";
                    }
                }
            }
        });
    </script>
</body>

</html>